* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 17px;
	min-height: 10px;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

window#waybar {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid orange;
}

tooltip label {
  color: white;
}

/* HYPRLAND */
#workspaces {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 4px;
	border-radius: 10px;
	transition: none;
}

#workspaces button {
	transition: none;
    /* light blue of inactive workspaces */
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.empty {
	transition: none;
	color: gray;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
    /* green of currently active workspace */
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#workspaces button.special {
    /* purple of special workspace icon */
	color: #eb34db;
    border-top: 2px solid #eb34db;
    border-bottom: 2px solid #eb34db;
}

#workspaces button:hover {
    /* the color of all workspaces when I hover */
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
    color: #5c34eb;
	border-color: #5c34eb;
}

#workspaces button.active:hover {
    /* the color of the active workspace when I hover */
    color: #5c34eb;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 18px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 4px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #DDB6F2;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 4px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-bottom: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}

