workspace = 1, monitor:${EXT_MON}, default:true, persistent:true, defaultName:web, layout:monocle
workspace = 2, monitor:${EXT_MON}, persistent:true, defaultName:code, layout:master
workspace = 3, monitor:${EXT_MON}, persistent:true, defaultName:notes, layout:monocle
workspace = 4, monitor:${EXT_MON}, persistent:true, defaultName:tasks, layout:monocle
workspace = 5, monitor:${EXT_MON}, persistent:true, defaultName:music, layout:monocle

workspace = 6, monitor:${INT_MON}, default:true, persistent:true, defaultName:scratch, layout:scrolling
workspace = 7, monitor:${INT_MON}, persistent:true, defaultName:random-1, layout:monocle
workspace = 8, monitor:${INT_MON}, persistent:true, defaultName:random-2, layout:monocle
workspace = 9, monitor:${INT_MON}, persistent:true, defaultName:random-3, layout:monocle
workspace = 10, monitor:${INT_MON}, persistent:true, defaultName:random-4, layout:monocle
