@import url("colors.css");

* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 17px;
	min-height: 10px;
}

window#waybar {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	background: @background;
}

tooltip {
  background: @background;
  border: 1px solid @color14;
}

tooltip label {
  color: @color15;
}

/* HYPRLAND */
#workspaces {
	margin-top: 6px;
	margin-bottom: 4px;
	font-size: 4px;
	border-radius: 10px;
	transition: none;
}

#workspaces button {
	transition: none;
    /* color of inactive but populated workspaces */
	color: @color2;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.empty {
	transition: none;
    /* color of workspaces that are inactive and empty */
	color: gray;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
    /* color of currently active workspace with line above and below */
	color: @color3;
    border-top: 2px solid @color3;
    border-bottom: 2px solid @color3;
}

#workspaces button.special {
    /* purple of special workspace icon */
	color: #eb34db;
    border-top: 2px solid #eb34db;
    border-bottom: 2px solid #eb34db;
}

#workspaces button:hover {
    /* the color of workspaces when hovering */
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
    color: @color4;
	border-color: @color4;
}

#workspaces button.active:hover {
    /* the color of the active workspace when I hover */
    color: @color4;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 18px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#battery.charging, #battery.plugged {
	color: @color15;
    background-color: @color2;
}

#battery.critical:not(.charging) {
    background-color: red;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 4px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 4px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-bottom: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: transparent;
	/* border-color: @color2; */
    border: 2px solid @color2;
    
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @color15;
	background: @color2;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	background: @color2;
}

#tray menu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 10px;
	transition: none;
	color: @foreground;
	background: @color3;
}
